@page "/createAccount"

<div class="col-xl-6 p-3" style="display: flex; flex-direction: column">
    <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H2" Class="mb-4">
        Create Account
    </RadzenText>
    <RadzenTemplateForm Data=@("SimpleLogin") Action="http://www.google.com">
        <RadzenLogin AllowRegister="false" AllowResetPassword="false" Login=@(args => OnLogin(args, "Simple login")) />
    </RadzenTemplateForm>
    <div style ="display: flex; flex-direction: row">
        <RadzenLabel Component="userEmail" Text="Email:" />
        <RadzenTextBox Name="UserEmail" @bind-Value=email Style="border: 2px solid #066274" />
    </div>
    <div style="display: flex; flex-direction: row">
        <RadzenText>isAdmin</RadzenText>
        <RadzenCheckBox Value=isAdmin />
    </div>
</div>

@code {
    string userName = "admin";
    string password = "admin";
    string email = "email";
    bool isAdmin = true;

    void OnLogin(LoginArgs args, string name)
    {
        Console.WriteLine($"Username: {args.Username} and password: {args.Password}");
    }

    //void OnRegister(string name)
    //{
    //    Console.WriteLine($"{name} -> Register");
    //}

    //void OnResetPassword(string value, string name)
    //{
    //    Console.WriteLine($"{name} -> ResetPassword for user: {value}");
    //}
}
