@page "/deletecard"

<div class="text-center">
    <h1>Delete Card</h1>
</div>
<div>
    <div style="display: flex; justify-content: center; width: 100%;">
        <p>Are you sure you want to delete this card?</p>
    </div>
    <div style="display: flex; justify-content: center; width: 100%;">
        <RadzenButton Click="Delete" Text="Cancel" ButtonStyle="ButtonStyle.Primary" Style="display: inline-flex; width: 30%; border-radius: 2%; margin: auto;" />
        <RadzenButton Click="Delete" Text="Delete" ButtonStyle="ButtonStyle.Secondary" Style="display: inline-flex; width: 30%; border-radius: 2%; margin: auto;" />
    </div>
</div>
@code {
    public void Delete()
    {

    }
}

