@page "/eventcard"
@inject NavigationManager NavManager

@using Radzen
@using Microsoft.Maui.Graphics

<style>
    .flexColumn {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    .textIcon {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: 0;
        justify-content: flex-end;
        gap: 5px;
    }

    img {
        max-width: 100%;
    }
</style>



<RadzenCard class="flexColumn">
    <div>
        <h1 style="text-align:left;">ShariVari</h1>
        <p style="float:right;">
            <RadzenButton Icon="star" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Medium" Class="rz-border-radius-10 rz-shadow-8" />
        </p>
    </div>
    <p style="text-align:left;">
        Presents
        <span style="float:right;">
            00:00-6:00
        </span>
    </p>
    <p>Via de' Nari, 14, 00186 Roma RM</p>
    <RadzenImage Path="https://i.imgur.com/ditrT1U.png" Class="float-left mr-3" Style="width: 100%; border-radius: 2%;" />
    <div class="mt-3"> </div>
    <RadzenButton Click="newPage" Text="View Event" ButtonStyle="ButtonStyle.Primary" Style="display: block; width: 100%; border-radius: 2%;" />
</RadzenCard>

@code {
    private void newPage()
    {
        NavManager.NavigateTo("/eventpage");
    }
}
