@using eventsApp.Data;

@page "/eventNameDescriptionPage"
@inject NavigationManager NavManager
@inject Event _event;

<div class="flex-containter">
    <h3>
        Enter a name and description for the event.
    </h3>
    <div class="verticalInputDiv">
        <RadzenLabel Component="EventName" Text="Name" />
        <RadzenTextBox Name="EventName" @bind-Value=name Style="border: 2px solid #066274" />
    </div>
    <div class="verticalInputDiv">
        <RadzenLabel Component="EventDescription" Text="Description" />
        <RadzenTextArea Name="EventDescription" @bind-Value=description Rows="4" Style="border: 2px solid #066274" />
    </div>

    <div class="horizontalButtonDiv">
        <RadzenButton Click="@backPage" Style="background-color: #066274;">
            Back
        </RadzenButton>
        <RadzenButton Click="@nextPage" Style="background-color: #066274;">
            Continue
        </RadzenButton>
    </div>
</div>

<style>
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }

    .verticalInputDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: start;
        margin-top: 5%;
        color: #066274;
    }

    .horizontalButtonDiv {
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding-top: 5%;
    }
</style>

@code {
    Event TempEvent;
    string name = "";
    string description = "";

    private void nextPage()
    {
        TempEvent = _event;
        TempEvent.name = name;
        TempEvent.description = description;
        Console.WriteLine($"Event Name: {TempEvent.name}");
        Console.WriteLine($"Event description: {TempEvent.description}");
        NavManager.NavigateTo("/pickEventLocationPage");
    }
    private void backPage()
    {
        NavManager.NavigateTo("/eventStartDateAndTimePage");
    }
}
