@page "/eventStartDateAndTimePage"
@inject NavigationManager NavManager

<div class="flex-container">
    <RadzenText>
        Select the start date and time of the event.
    </RadzenText>
    <RadzenDatePicker @bind-Value=newDateTime onchange=@onChange ShowTime=true HoursStep="1" MinutesStep="5" DateFormat="MM/dd/yyyy HH:mm" Style="color: #066274" />
    <div class="horizontalButtonDiv">
        <RadzenButton Click="@backPage" Style="background-color: #066274;">
            Back
        </RadzenButton>
        <RadzenButton Click="@nextPage" Style="background-color: #066274;">
            Continue
        </RadzenButton>
    </div>
</div>

<style>
    .horizontalButtonDiv {
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding-top: 5%;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }
</style>

@code {
    DateTime newDateTime = DateTime.Now;

    void onChange(DateTime newValue)
    {
        Console.WriteLine($"Value changed to {newValue}");
    }

    private void nextPage()
    {
        NavManager.NavigateTo("/eventNameDescriptionPage");
    }

    private void backPage()
    {
        NavManager.NavigateTo("/pickEventType");
    }
}
