@page "/eventNameDescriptionPage"
@inject NavigationManager NavManager

<div class="flex-containter">
    <RadzenText>
        Enter a name and description for the event.
    </RadzenText>
    <div class="verticalInputDiv">
        <RadzenLabel Component="EventName" Text="Name" />
        <RadzenTextBox Name="EventName" @bind-Value=name Style="border: 2px solid #066274" />
    </div>
    <div class="verticalInputDiv">
        <RadzenLabel Component="EventDescription" Text="Description" />
        <RadzenTextArea Name="EventDescription" @bind-Value=description Rows="4" Style="border: 2px solid #066274" />
    </div>
    
    <div class="horizontalButtonDiv">
        <RadzenButton Click="@backPage" Style="background-color: #066274;">
            Back
        </RadzenButton>
        <RadzenButton Click="@nextPage" Style="background-color: #066274;">
            Continue
        </RadzenButton>
    </div>
</div>

<style>
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
        padding-top: 5%;
/*        padding-left: 5%;
        padding-right: 5%;*/
        padding-bottom: 5%;
    }

    .verticalInputDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: start;
        margin-top: 5%;
        color: #066274;
    }
    .horizontalButtonDiv {
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding-top: 5%;
    }
</style>

@code {
    string name = "";
    string description = "";

    private void nextPage()
    {
        NavManager.NavigateTo("/pickEventLocationPage");
    }
    private void backPage()
    {
        NavManager.NavigateTo("/eventStartDateAndTimePage");
    }
}
