@page "/favoriteswithcard"

<div class="flex-container">
    <h1>Favorites</h1>

    <EventCard eventName="Shari Vari" eventDateTime="00:00-00:30" eventAddress="Via de' Nari, 14, 00186 Roma RM" eventDescription="Lorum Ipsum"
               eventImageURL="https://i.imgur.com/ditrT1U.png" eventType="2"></EventCard>

</div>
@code {

}

