.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
}