@page "/favoritesPage"
@inject NavigationManager NavManager

<div class="flex-container">
    <h1>Favorites</h1>
    <h3>You currently do not have any saved events</h3>
    <img src="img/EmptyFavorites.png" alt="Empty Favorites" width="747.075" height="834.225" />
    <h3 class="mt-3" style="text-align:center;">Log in to keep track of all your favorites so you don't miss out!</h3>
    <a href="" target="_blank" @onclick="OnLogin">Login or Create an Account</a>
</div>

@code {

    private void OnLogin()
    {
        NavManager.NavigateTo("/profileLogin");
    }
}
