
@using System.Net.Http;
@using Newtonsoft.Json;
@using eventsApp.Data;
@page "/favoritesPage"
@inject NavigationManager NavManager;
@inject Account _account;

<div class="flex-container">
    <h1>Favorites</h1>
    <h3>You currently do not have any saved events</h3>
    <img src="img/EmptyFavorites.png" alt="Empty Favorites" width="747.075" height="834.225" />
    <h3 class="mt-3" style="text-align:center;">@message</h3>
    <a href="" target="_blank" @onclick="OnLogin">@login</a>
</div>

@code {
    string message = "Loading...";
    string login = "Login or Create an Account";
    Account loggedIn;
    private void OnLogin()
    {
        NavManager.NavigateTo("/profileLogin");
    }
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("THIS IS RUNNING");
        loggedIn = _account;
        if(loggedIn == null)
        {
            Console.WriteLine("Loggedin is Null");
        }
        if(loggedIn != null)
        {
            Console.WriteLine(loggedIn.id);
            Console.WriteLine(loggedIn.following_list);
        }

        if(loggedIn.id == null)
        {
            login = "Login or Create an Account";
            message = "Log in to keep track of all your favorites so you don't miss out!";
        }
        else if(loggedIn.following_list == null)
        {
            message = "";
            login = "";
        }
        else if (loggedIn.following_list.Length == 0)
        {
            message = "";
            login = "";
        }
        else if (loggedIn.following_list.Length > 0)
        {
            NavManager.NavigateTo("/favoriteswithcard");
        } else
        {
            message = "error";
        }
    }

}
