@page "/filterevent"

<div class="container-fluid">
    <div class="row px-3">
        <div class="col-md-6 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Binding to simple collection</RadzenText>
                <RadzenDropDown AllowClear="true" TValue="string" Class="w-100"
                                Data=@(null)
                                Change=@() />
            </RadzenCard>
        </div>
    </div>
</div>

@code {

}

