@page "/forgotpassword"
@using Radzen
@using Microsoft.Maui.Graphics

<div class="text-center" style="padding-top:30px">
    <h1>Forgot Password?</h1>
    <h5 style="padding-top: 30px; padding-bottom: 30px">Enter your email address and we will send you a link to reset your password</h5>
</div>

<div class="text-center">
    <RadzenTextBox Name="Email" />
    <RadzenEmailValidator Component="Email" Text="Enter email" Style="display:block;padding-right:20px" />
    <RadzenButton ButtonType="ButtonType.Submit" Text="Submit"></RadzenButton>
</div>

<div class= "text-center">
    <h5 style="padding-top:30px"> Didn’t recieve an email? Check your junk mailbox or send another link
    </h5>
</div>"
