@page "/"
@inject NavigationManager NavManager

<img src="/Images/logo.png" alt="Event Logo" />

@*<h1>Hello, world!</h1>

    Roma Events

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />*@

<RadzenButton Style="display:flex; flex-direction:column"
              Text="Continue As Guest"
              Click="@OnClickGuest"> </RadzenButton>
<RadzenButton Style="display:flex; flex-direction:column"
              Text="Login"
              Click="@OnClickLogin"> </RadzenButton>
<RadzenButton Style="display:flex; flex-direction:column"
              Text="Create Account"
              Click="@OnClickCreateAccount"> </RadzenButton>

@code{
    void OnClickGuest()
    {
        NavManager.NavigateTo("/home");
    }

    void OnClickLogin()
    {
        NavManager.NavigateTo("/profileLogin");
    }

    void OnClickCreateAccount()
    {
        NavManager.NavigateTo("/createAccount");
    }
}