@page "/"
@inject NavigationManager NavManager

@*<h1>Hello, world!</h1>

    Roma Events

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />*@
<div class="flex-container" style=" justify-content: center; align-items: center;">
    <img src="img/logo_white.png" alt="Event Logo" width="500" height="500" />

    <RadzenButton Style="display: flex; flex-direction: column; background-color: #066274; Size =ButtonSize.Large;"
                  Text="Continue As Guest"
                  Click="@OnClickGuest"> </RadzenButton>
        <RadzenButton Style="display: flex; flex-direction: column; background-color:#066274; Size =ButtonSize.Large;"
                      Text="Login"
                      Click="@OnClickLogin"> </RadzenButton>
        <RadzenButton Style="display: flex; flex-direction: column; background-color: #066274; Size =ButtonSize.Large; "
                      Text="Create Account"
                      Click="@OnClickCreateAccount"> </RadzenButton>

</div>



@code{
    void OnClickGuest()
    {
        NavManager.NavigateTo("/home");
    }

    void OnClickLogin()
    {
        NavManager.NavigateTo("/profileLogin");
    }

    void OnClickCreateAccount()
    {
        NavManager.NavigateTo("/createAccount");
    }
}