@page "/"
@inject NavigationManager NavManager

<img src="img/logo_white.png" alt="Event Logo" width="500" height="500"/>

@*<h1>Hello, world!</h1>

    Roma Events

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />*@

<RadzenButton Style="display:flex; flex-direction: column; background-color: #066274"
              Text="Continue As Guest"
              Click="@OnClickGuest"> </RadzenButton>
<RadzenButton Style="display:flex; flex-direction:column; background-color: #066274"
              Text="Login"
              Click="@OnClickLogin"> </RadzenButton>
<RadzenButton Style="display:flex; flex-direction:column; background-color: #066274"
              Text="Create Account"
              Click="@OnClickCreateAccount"> </RadzenButton>

@code{
    void OnClickGuest()
    {
        NavManager.NavigateTo("/home");
    }

    void OnClickLogin()
    {
        NavManager.NavigateTo("/profileLogin");
    }

    void OnClickCreateAccount()
    {
        NavManager.NavigateTo("/createAccount");
    }
}