
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.button {
    width: 250px;
    height: 100px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #066274;
}

.btn-primary {
    color: #fff;
    background-color: #066274;
    border-color: #066274;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

    a:visited {
        color: pink;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
    }

