@page "/"
@inject NavigationManager NavManager

@*<h1>Hello, world!</h1>

    Roma Events

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />*@
<div class="flex-container">
    <img src="img/logo_white.png" alt="Event Logo" width="500" height="500" />
    <div class="button">
        <RadzenButton Style="display: flex; flex-direction: column; width: 250px; height: 50px; font-size: medium; background-color: #066274; text-align: center " Size="ButtonSize.Large"
                      Text="Continue As Guest"
                      Click="@OnClickGuest"> </RadzenButton>
    </div>
    <div class="button">
        <RadzenButton Style="display: flex; width: 250px; height: 50px; flex-direction: column; font-size: medium; background-color: #066274; text-align: center" Size="ButtonSize.Large"
                      Text="Login"
                      Click="@OnClickLogin"> </RadzenButton>

    </div>
    <div class="button">
        <RadzenButton Style="display: flex; width: 250px; height: 50px; flex-direction: column; font-size: medium; background-color: #066274; text-align: center " Size="ButtonSize.Large"
                      Text="Create Account"
                      Click="@OnClickCreateAccount"> </RadzenButton>
    </div>
    

</div>



@code{
    void OnClickGuest()
    {
        NavManager.NavigateTo("/home");
    }

    void OnClickLogin()
    {
        NavManager.NavigateTo("/profileLogin");
    }

    void OnClickCreateAccount()
    {
        NavManager.NavigateTo("/createAccount");
    }
}