@page "/LoggedInUserProfile"
@inject NavigationManager NavManager
@using Data;
@inject Account _account;

 
<div class="flex-container">
    <h1>Welcome Back! </h1>
    <hr>
    <p>
        Username: @profile.username
    </p>
    <p>
        Email: @profile.email
    </p>
    <p>
        Account Type: @account_type
    </p>
   
    





</div>

<style>
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        /*        padding-left: 5%;
        padding-right: 5%;*/
        padding-bottom: 5%;
    }
    h1 {
        font-size: 50px;
        font-weight: 700;
    }

    hr {
        height: 5px;
        width: 75%;
        background-color: black;
    }

    p{
        font-size: 24px;
        color: black;
        font-weight: 400;

    }

</style>

@code {
    Account profile = new Account();
    string account_type;

    protected override async Task OnInitializedAsync()
    {
        profile.username = _account.username;
        profile.email = _account.email;
        if (_account.is_admin)
        {
            account_type = "Administrator";
        }
        else if (_account.id != null)
        {
            account_type = "Citzen";
        }

    }


}