@page "/LoggedInUserProfile"
@inject NavigationManager NavManager
@using Data;
@inject Account _account;

 
<div class=main>
    <h1>Profile</h1>
    <RadzenIcon Icon="account_circle"/>
    <div class=profileDetails>
        <p>
            Username: @profile.username
        </p>
        <p>
            Email: @profile.email
        </p>
        <p>
            Account Type: @account_type
        </p>
    </div>
    <RadzenButton Text="Logout" Click="logout" Style="background-color: #066274; margin-top: 5%;" />
</div>

@code {
    Account profile = new Account();
    string account_type;

    protected override async Task OnInitializedAsync()
    {
        profile.username = _account.username;
        profile.email = _account.email;
        if (_account.is_admin)
        {
            account_type = "Administrator";
        }
        else if (_account.id != null)
        {
            account_type = "Citzen";
        }
    }

    private void logout()
    {
        _account.username = null;
        _account.id = null;
        _account.email = null;
        _account.is_admin = false;
        _account.password = null;
        _account.following_list = null;
        NavManager.NavigateTo("/home");
    }
}