@page "/modifyEventPage"
@inject NavigationManager NavManager

<div class="col-xl-6 p-3">
    <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H2" Class="mb-4">
        Modify Event Page
    </RadzenText>
    <p>
        <RadzenLabel Component="EventName" Text="Name" />
        <RadzenTextBox Name="EventName" @bind-Value=name />
    </p>
    <p>
        <RadzenLabel Component="EventDate" Text="Date" />
        <RadzenTextBox Name="EventDate" @bind-Value=date />
    </p>
    <p>
        <RadzenLabel Component="EventAddress" Text="Address" />
        <RadzenTextBox Name="EventAddress" @bind-Value=address />
    </p>
    <p>
        <RadzenLabel Component="EventDescription" Text="Description" />
        <RadzenTextBox Name="EventDescription" @bind-Value=description />
    </p>
    <p>
        <RadzenLabel Component="EventImage" Text="ImageURL" />
        <RadzenTextBox Name="EventImage" @bind-Value=imageURL />
    </p>
    <p>
        <RadzenLabel Component="EventType" Text="Type" />
        <RadzenTextBox Name="EventType" @bind-Value=type />
    </p>
    <p>
        <RadzenLabel Component="EventTotalTickets" Text="Ticket Number" />
        <RadzenTextBox Name="EventTotalTickets" @bind-Value=ticketCount />
    </p>
    <div style="flex-direction: row;" >
        <RadzenButton Click=@(args => OnCancel()) Text="Cancel" ButtonStyle="ButtonStyle.Primary"/>
        <RadzenButton Click=@(args => OnSave()) Text="Save" ButtonStyle="ButtonStyle.Primary" />
    </div>
    
</div>

@code {
    string name = "some event's name";
    string date = "04/25/2022";
    string address = "Piazza delle Cinque Scole, 23 apt. 2, Rome";
    string description = "This is a random description that is just filler.";
    string imageURL = "image.png";
    string type = "type1";
    string ticketCount = "10";

    void OnCancel()
    {
        Console.WriteLine("$Update event cancelled!");
    }

    void OnSave()
    {
        Console.WriteLine($"Update event confirmed!");
    }
}
