@page "/modifyEventPage"
@inject NavigationManager NavManager

<div class=main>
    <h1 style="margin-bottom: 3%;">
        Modify Event Page
    </h1>    
    <div class=inputRow>
        <p class=labelStyle>Name:</p>
        <RadzenTextBox Name="EventName" @bind-Value=name Style="border: 2px solid #066274; width: 40%;" />
    </div>
    <div class=inputRow>
        <p class=labelStyle>Date:</p>
        <RadzenTextBox Name="EventDate" @bind-Value=date Style="border: 2px solid #066274; width: 40%;" />
    </div>
    <div class=inputRow>
        <p class=labelStyle>Address:</p>
        <RadzenTextBox Name="EventAddress" @bind-Value=address Style="border: 2px solid #066274; width: 40%;" />
    </div>
    <div class=inputRow>
        <p class=labelStyle>Description:</p>
        <RadzenTextBox Name="EventDescription" @bind-Value=description Style="border: 2px solid #066274; width: 40%;" />
    </div>
    <div class=inputRow>
        <p class=labelStyle>Image URL:</p>
        <RadzenTextBox Name="EventImage" @bind-Value=imageURL Style="border: 2px solid #066274; width: 40%;" />
    </div>
    <div class=inputRow>
        <p class=labelStyle>Type:</p>
        <RadzenTextBox Name="EventType" @bind-Value=type Style="border: 2px solid #066274; width: 40%;" />
    </div>
    <div class=inputRow>
        <p class=labelStyle>Number of Tickets:</p>
        <RadzenTextBox Name="EventTotalTickets" @bind-Value=ticketCount Style="border: 2px solid #066274; width: 40%;" />
    </div>
    <div class=buttonRow >
        <RadzenButton Click=@(args => OnCancel()) Text="Cancel" Style="background-color: #066274" />
        <RadzenButton Click=@(args => OnSave()) Text="Save" Style="background-color: #066274" />
    </div>
    
</div>

@code {
    string name = "some event's name";
    string date = "04/25/2022";
    string address = "Piazza delle Cinque Scole, 23 apt. 2, Rome";
    string description = "This is a random description that is just filler.";
    string imageURL = "image.png";
    string type = "type1";
    string ticketCount = "10";

    void OnCancel()
    {
        Console.WriteLine("$Update event cancelled!");
    }

    void OnSave()
    {
        Console.WriteLine($"Update event confirmed!");
    }
}
