@page "/newEventConfirmation"
@inject NavigationManager NavManager

<div>
    <RadzenText style="header">
        Event Successfully Proccessed
    </RadzenText>
    <div style="width: 100%; display: flex; flex-direction: column; align-items: center">
        <RadzenIcon Icon="check_circle_outline" IconStyle="IconStyle.Success"/>
        <RadzenButton Style="background-color: #066274; width: 20%">
            Done
        </RadzenButton>
    </div>
    
</div>



@code {

}
