@page "/pickEventType"
@inject NavigationManager NavManager


<div class="flex-container">
    <h3>
        Select the type of event you want to create.
    </h3>
    <div class="flex-container row">
        <button class="btn roma">
            TYPE 1
        </button>
        <button class="btn roma">
            TYPE 2
        </button>

    </div>
    <div class="flex-container row">
        <button class="btn roma">
            TYPE 3
        </button>
        <button class="btn roma">
            TYPE 4
        </button>
    </div>
    <div class="flex-container row">
        <button class="btn continue">
            CONTINUE
        </button>
       
    </div>
    @*<div class="horizontalDiv">
            <RadzenButton Style="border: 2px solid #066274; background-color: white; color: #066274; width: 25%; padding: 5%; justify-content: center">
                Type 3
            </RadzenButton>
            <RadzenButton Style="border: 2px solid #066274; background-color: white; color: #066274; width: 25%; padding: 5%; justify-content: center">
                Type 4
            </RadzenButton>
        </div>*@
</div>

    @code {

    }
