@page "/pickEventType"
@inject NavigationManager NavManager

<div class="col-xl-6 p-3">
     <RadzenText>
         Select the type of event you want to create.
     </RadzenText>
     <div class="col">
        <RadzenButton>
            Type1
        </RadzenButton>
        <RadzenButton>
            Type2
        </RadzenButton>
     </div>
</div>

@code {
    
}
