@using eventsApp.Data;
@page "/pickEventLocationPage"
@inject NavigationManager NavManager
@inject Event _event;

<div class="flex-container">
    <h3>
        Enter the address of the event.
    </h3>

    <div class="verticalInputDiv">
        <RadzenLabel Component="EventAddress" Text="Address" />
        <RadzenTextBox Name="EventAddress" @bind-Value=address Style="border: 2px solid #066274" />
    </div>

    <div class="horizontalButtonDiv">
        <RadzenButton Click="@backPage" Style="background-color: #066274;">
            Back
        </RadzenButton>
        <RadzenButton Click="@nextPage" Style="background-color: #066274;">
            Continue
        </RadzenButton>
    </div>
</div>

<style>
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%%;
        padding-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }

    .verticalInputDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: start;
        margin-top: 5%;
        color: #066274;
    }

    .horizontalButtonDiv {
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding-top: 5%;
    }
</style>

@code {
    Event TempEvent;
    string address = "";

    private void nextPage()
    {
        TempEvent = _event;
        TempEvent.address = address;
        Console.WriteLine($"Event address: {TempEvent.address}");
        NavManager.NavigateTo("/uploadEventImagePage");
    }

    private void backPage()
    {
        NavManager.NavigateTo("/eventNameDescriptionPage");
    }
}
