@page "/pickEventLocationPage"
@inject NavigationManager NavManager

<div class="flex-container">
    <RadzenText>
        Enter the address of the event.
    </RadzenText>
    <div class="verticalInputDiv">
        <RadzenLabel Component="EventAddress" Text="Address" />
        <RadzenTextBox Name="EventAddress" @bind-Value=address Style="border: 2px solid #066274" />
    </div>

    <div class="horizontalButtonDiv">
        <RadzenButton Click="@backPage" Style="background-color: #066274;">
            Back
        </RadzenButton>
        <RadzenButton Click="@nextPage" Style="background-color: #066274;">
            Continue
        </RadzenButton>
    </div>
</div>

<style>
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }
    .verticalInputDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: start;
        margin-top: 5%;
        color: #066274;
    }
    .horizontalButtonDiv {
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding-top: 5%;
    }
</style>

@code {
    string address = "";

    private void nextPage()
    {
        NavManager.NavigateTo("/uploadEventImagePage");
    }

    private void backPage()
    {
        NavManager.NavigateTo("/eventNameDescriptionPage");
    }
}
