@page "/pickEventType"
@inject NavigationManager NavManager

<div class="col-xl-6 p-3">
    <RadzenText>
        Select the type of event you want to create.
    </RadzenText>
    <div class="horizontalDiv">
        <RadzenButton Style="border: 2px solid #066274; background-color: white; color: #066274; width: 25%; padding: 5%; justify-content: center">
            >
            Type 1
        </RadzenButton>
        <RadzenButton Style="border: 2px solid #066274; background-color: white; color: #066274; width: 25%; padding: 5%; justify-content: center">
            >
            Type 2
        </RadzenButton>
    </div>
    <div class="horizontalDiv">
        <RadzenButton Style="border: 2px solid #066274; background-color: white; color: #066274; width: 25%; padding: 5%; justify-content: center">>
            Type 3
        </RadzenButton> 
        <RadzenButton Style="border: 2px solid #066274; background-color: white; color: #066274; width: 25%; padding: 5%; justify-content: center">
            Type 4
        </RadzenButton>
    </div>
</div>

<style>
    .horizontalDiv{
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding-top: 10%
    }
</style>

@code {

}
