/*
.page-header {
    align-items: center;
    justify-content: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
    .h1 {
        font-weight: bold;
    }*/

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 10%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom:5%;
}
    .row {
        flex-direction: row;
    }



/*.horizontalDiv {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 10%
}*/

.btn {
    border: 3px solid #066274;
    height: 100px;
    background-color: white;
    font-size: 28px;
    color: #066274;
    width: 30%;
    cursor: pointer;
    justify-content: space-around;
    border-radius: 8px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

    .roma {
        border-color: #066274;
        color: #066274;
    }
        .roma:hover {
            background-color: #066274;
            color: white;
        }
        .roma:focus {
            background-color: #066274;
            color: white;
        }
        .continue {
            background-color: #066274;
            color: white;
        }
