@page "/profileLogin"

@using System.Net.Http;
@using Newtonsoft.Json;
@using Data;

@inject NavigationManager NavManager;
@inject Data.HttpRestService _httprestservice;
@inject Account _account;



@*<div class="col-xl-6 p-3">*@
<div class="flex-container">
    <h1>Profile Login</h1>
    <RadzenText TextStyle="TextStyle.H5" TagName="TagName.H2" Class="mb-4">
        Login with register
    </RadzenText>
    <RadzenTemplateForm Data=@("LoginWithRegister")>
        <RadzenLogin AllowResetPassword="false"
                     Login=@(args => OnLogin(args, "Login with register"))
                     Register=@(args => OnRegister("Login with register")) />
        <RadzenText TextStyle="TextStyle.Caption">@error</RadzenText><br />
    </RadzenTemplateForm>
    <RadzenButton Style="display:flex; flex-direction:column; background-color: #066274"
                  Text="Forgot Password"
                  Icon="help"
                  Click="@OnForgotPassword"> </RadzenButton>
</div>

<style>
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: stretch;
        padding-top: 2%;
/*        padding-left: 2%;
        padding-right: 2%;*/
        padding-bottom: 2%;
        margin-left: auto;
        margin-right: auto;
    }

</style>

@code {
    string userName = "admin";
    string password = "admin";
    string error = "";
    public List<Account> Items = new List<Account>();
    public List<Account> Accounts = new List<Account>();
    string AccountJSON = "[\n {\n    \"id\": \"9b142643b8dd49beb1c586f7cf3b07b2\",\n    \"username\": \"Dev\",\n    \"password\": \"test123\",\n    \"email\": \"dsmasrani@gmail.com\",\n    \"is_admin\": true\n}, \n {\n    \"id\": \"691426a124789beb1c586f7cf3b07b2\",\n    \"username\": \"Cole\",\n    \"password\": \"Cole\",\n    \"email\": \"cmori18@gmail.com\",\n    \"is_admin\": true\n} \n]";
    public async Task OnLogin(LoginArgs args, string name)
    //async Task
    {
        Task<List<Account>> LIST = GetAccountsAsync();
        List<Account> AccountList = await LIST;
        Console.WriteLine(AccountList);
        //Items = JsonConvert.DeserializeObject<List<Account>>(AccountJSON);
        Console.WriteLine($"Username: {args.Username} and password: {args.Password}");
        @foreach (var Account in AccountList)
        {
            Console.WriteLine(Account.username);
            Console.WriteLine(args.Username);
            // Store MD5 hashed password and compare the hash, so that the password is encryped, and return 200OK rather than items.
            // Make a new API called login with just the SHA256 SUM and the username and it returns if its okay or not. Do not do it client side.
            if((Account.username == args.Username) && (Account.password == args.Password))
            {
                error = "Successful Login";
                _account.id = Account.id;
                _account.username = Account.username;
                _account.password = Account.password;
                _account.email = Account.email;
                _account.is_admin = Account.is_admin;
                _account.following_list = Account.following_list;
                NavManager.NavigateTo("/home");
                break;
            } else
            {
                error = "Failed Login";
            }
        }
    }
    void OnRegister(string name)
    {
        Console.WriteLine($"{name} -> Register");
        NavManager.NavigateTo("/createAccount");
    }

    void OnResetPassword(string value, string name)
    {
        Console.WriteLine($"{name} -> ResetPassword for user: {value}");
    }
    void OnForgotPassword()
    {
        NavManager.NavigateTo("/forgotpassword");
    }
    public async Task<List<Account>> GetAccountsAsync()
    {

        Uri uri = new Uri(string.Format("https://308projectlogin.azurewebsites.net/api/account", string.Empty));
        try
        {
            error = "Checking Account Login";
            HttpResponseMessage response = await _httprestservice._client.GetAsync(uri);
            if (response.IsSuccessStatusCode)
            {
                string content = await response.Content.ReadAsStringAsync();
                //Items = JsonSerializer.Deserialize(content,_httprestservice._serializerOptions);
                Items = JsonConvert.DeserializeObject<List<Account>>(content);
            }
            error = "";
        }
        catch (Exception ex)
        {
            Console.WriteLine(@"\tERROR {0}", ex.Message);
        }

        return Items;
    }

}
