@page "/resetpassword"



<div class="text-center">
    <h1>Create New Password</h1>
    <h5 style="padding-top: 30px; padding-bottom: 30px">
        Enter your email address and we will
        send you a link to reset your password
    </h5>
</div>

<div class="text-center">
    <p>
        <RadzenLabel Component="Password1" Text="New Password" />
        <RadzenTextBox Name="Password1" @bind-Value=pass1 />
    </p>
    <p>
        <RadzenLabel Component="Password2" Text="Re-enter new password" />
        <RadzenTextBox Name="Password2" @bind-Value=pass2 />
    </p>
    <RadzenButton ButtonType="ButtonType.Submit" Text="Set New Password"></RadzenButton>
</div>

@code {
    string pass1 = "";
    string pass2 = "";
}
