.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.butto



main {
    flex: 1;
    justify-content: safe-center;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(6, 98, 116) 70%, #066274 70%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    color: white;

}
    h1 {
        color: white;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.navbar-brand {
    display: inline-flex;
    align-items: center;
    padding-top: 0;
    line-height: inherit;
    white-space: nowrap;
    color: white;
    .top-row
{
    background-color: #066274;
    border-bottom: 1px solid #066274;
    align-items: center;
    justify-content: center;
    height: 9.375rem;
    display: flex;
    color: white;
    h1
{
    color: white;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

    a:visited {
        color: pink;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

