
@inject NavigationManager NavManager
@using Data;
@inject Account _account;

    <div class="top-row navbar ps-3 navbar-dark">
        <div class="container">
            <a class="navbar-brand mx-auto" href="">
                <img src="img/logo_blue500.png" alt="bluelogo" class="responsive">
            </a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        @*<nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="counter">
                        <span class="oi oi-plus" aria-hidden="true"></span> Counter
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                    </NavLink>
                </div>
            </nav>*@
        <nav class="flex-column">
            @page "/panelmenu"
            <RadzenCard Style="width:auto" Class="mx-auto">
                <RadzenPanelMenu Style="width:auto;" Click="@(() => ToggleNavMenu())">
                <RadzenPanelMenuItem Style="width:auto" Text="Home" Icon="home" Path="home" />
                <RadzenPanelMenuItem Style="width: auto" Text="Favorites" Icon="star" Path="favoritesPage" />
                @if(_account.id != null){
                    <RadzenPanelMenuItem Style="width: auto" Text="Profile" Icon="account_box" Path="LoggedInUserProfile" />
                    @if(_account.is_admin == true)
                    {
                        <RadzenPanelMenuItem Style="width: auto" Text="Create Event" Icon="post_add" Path="CreateEventLanding" />
                    }
                }else{
                    <RadzenPanelMenuItem Style="width: auto" Text="Profile" Icon="account_box" Path="profileLogin" />
                }
                </RadzenPanelMenu>
            </RadzenCard>
        </nav>
    </div>

    @code {
        private bool collapseNavMenu = true;

        private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

        private void ToggleNavMenu()
        {
            collapseNavMenu = !collapseNavMenu;
        }

        void OnClickLogo()
        {
            NavManager.NavigateTo("/home");

            if (collapseNavMenu == false)
            {
                ToggleNavMenu();
            }

        }
        void OnClick_Logout()
        {
            NavManager.NavigateTo("/");

            if (collapseNavMenu == false)
            {
                ToggleNavMenu();
            }

            //reset everything, log user out and redirect to landing page

        }
    }

